svg {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

.bar {
  shape-rendering: crispEdges;
}

.text {
  fill: #fff;
}

.text.above {
  fill: #000;
}

.label {
  font-size: 12px;
}

.title.label {
  font-size: 18px;
}

.tooltip {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltip span {
  display: block;
}

.tooltip .text {
  color: #fff;
}

.tooltip.desactive {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.row {
  position: relative;
}

#more-info.tooltip {
  top: -154px;
}

.slidecontainer .row p {
  margin-top: 5px;
  display: inline-block;
}

.slidecontainer .row i {
  cursor: pointer;
  padding: 3px 3px;
  font-size: 18px;
}

form {
  display: inline-block;
}

.scale-form {
  width: 150px;
}

.hide {
  visibility: hidden;
}